<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="#{bib.titel}">Bibliotheek</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
	
	  <div class="navbar" th:fragment="navbar">
    <ul>
      <li><a th:href="|/bib|" th:text=#{nav.home}>item</a></li>
      <li><a th:href="|/populair|" th:text=#{nav.populair}>item</a></li>
      <li><a th:href="|/addBoek|" th:text=#{nav.add} th:if="${#authorization.expression('hasRole(''ADMIN'')')}">item</a></li>
    </ul>
    <ul class="right">
    <th:block sec:authorize="isAuthenticated()">
      <li><span th:text="${userName}">gebruikersnaam</span></li>
      <li>	<th:block th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
		<span>ADMIN</span>
	</th:block>
	<th:block
		th:unless="${#authorization.expression('hasRole(''ADMIN'')')}">
		<span>USER</span>
	</th:block></li>
      <li><a th:href="|/login?logout|" th:text="#{nav.logout}">item</a></li>
    </th:block>
    <th:block sec:authorize="isAnonymous()">
    	<li><a th:href="|/login|" th:text="#{nav.login}">item</a>
    </th:block>
    </ul>
  </div>
</body>
</html>